---
import Card from "@/components/ui/astro/Card.astro";
import type { LogoTileProps } from "@/types";

type Props = LogoTileProps;

const { logo, title, href } = Astro.props;
const Tag = href ? "a" : "div";
const isExternal = href?.startsWith("https");
---

<Tag
  href={href}
  target={isExternal ? "_blank" : undefined}
  rel={isExternal ? "noopener" : undefined}
  {title}
  class="group/tile"
>
  <Card
    class="flex justify-center aspect-square group-data-[variant=yellow]:bg-am-y group-data-[variant=light]:bg-white group-data-[variant=yellow]:ring-black group-data-[variant=light]:ring-black"
  >
    <div slot="content">
      <img
        src={logo}
        alt={title}
        class="w-full p-4 group-data-[variant=yellow]:brightness-0 group-data-[variant=light]:brightness-0"
      />
    </div>
  </Card>
  <p
    class="text-muted-foreground group-data-[variant=yellow]:text-black group-data-[variant=light]:text-black text-xs text-center mt-2 group-hover/tile:underline"
  >
    {title}
  </p>
</Tag>
