---
import "../styles/globals.css";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import type { RootLayoutProps } from "@/types";

type Props = RootLayoutProps;

const {
  title = "Plank CMS",
  description,
  image,
  url,
  variant = "default",
} = Astro.props;

const variantClasses = {
  default: "bg-black text-white",
  yellow: "bg-am-y text-black",
  light: "bg-white text-black",
};
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <title>{title}</title>
    <script
      is:inline
      defer
      data-domain="plank-cms.com"
      src="https://analytics.alemartir.com/js/script.outbound-links.tagged-events.js"
    ></script>

    <!-- Open Graph -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />

    <!-- Twitter -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />
  </head>

  <body
    class={`${variantClasses[variant]} font-google-sans min-h-dvh flex flex-col group`}
    data-variant={variant}
  >
    <Header />

    <main class="max-w-7xl mx-auto w-full flex-1">
      <slot />
    </main>

    <Footer />
  </body>
</html>
